.gdprconsent-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.9);
  color: #fff;
  z-index: 99999999;
  text-align: center;
  font-family: Helvetica,Arial,sans-serif !important;
}

.gdprconsent-wrapper {
  padding: 20px 60px;
}

.gdprconsent-wrapper a {
  color: #fff;
  text-decoration: underline;
}

.gdprconsent-wrapper a:hover,
.gdprconsent-wrapper a:focus {
  color: #fff;
  text-decoration: none;
}

.gdprconsent-wrapper p {
  margin: 0;
	font-size: 14px;
	font-weight: normal;
}
